.block__link {
  box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.40), 0px 1px 4px 0px #E3EBFC;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  position: relative;
  margin-top: 2rem;
}

.block__btn {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 40%;
}