
.docs-recovery__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .docs-recovery__content {
      padding-top: 1.5rem;
      .content__heading {
        .content__header {
          margin-bottom: 1.5rem;
          color: #0B1F33;
          font-size: 2rem;
          margin-top: 1.5rem;
        }
      }
      .content__body {
          box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.4), 0px 1px 4px 0px #E3EBFC;
          border-radius: 12px;
          padding: 0.5rem 1.5rem;
          position: relative
      }
  }
  p{
      margin: 15px;
  }
  h4{
      margin: 15px;
  }
  .grants_list{
      display: block;
      list-style: list;
  p{ 
      margin: 15px;
      margin-top: 0 ;
  }
  ul{
      margin-left: 35px;
      margin-top: 0 ;
      display: block;
      list-style: disc;
  }
  }
 

  button{
      margin: auto;
      background-color: #FFCB00;
      border-radius: 10px;
      height: 3.5em;
      width: 10em;
      font-weight:bold;
      border: none;
      display: block;
      margin: 20px auto; // Центрирование кнопки с отступом сверху и снизу в 20 пикселей
      
  }

}


.inn-form {
  display: flex;
  flex-direction: column;
  width: 1000px; /* Ширина формы */
  max-width: 100%; /* Обеспечить адаптивность формы */
}

.inn-form label {
  margin-bottom: 8px;
  font-size: 16px;
}

.inn-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inn-form button {
  padding: 10px 20px;
  background-color: #0D4CD3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  align-self: center;
  margin-top: 10px;
}