.requirements-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.requirement-item {
  margin-bottom: 10px;
}

.submit-btn {
  color: black;
  font: inherit;
}


.submit-button {
  color: black;
  font: inherit;
}

.info__text {
  margin-top: 1.5rem;
}

.form-subheader {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.form__info {
  box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.40), 0px 1px 4px 0px #E3EBFC;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  position: relative;
  margin-top: 2rem;
}

.info__list {
  list-style-image: url("../../../assets/marker2.svg");
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 3.5rem;
}

.info__item {
  margin-top: .5rem;
  width: 50rem;
  line-height: 24px;
  padding-left: .5rem;
}


.form__cost {
  margin-top: 1rem;
}

.submit-button {
  display: block;
  background-color: #ffc107;
  color: black;
  font: inherit;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
}