.back-button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #CC2229;
  margin-bottom: 1rem;
}

.application__type {
  font-weight: normal;
  color: #0B1F33;
}

.btn-arrow {
  margin-right: .5rem;
}